Source: paintown
Section: games
Priority: optional
Maintainer: Jon Rafkind <jon@rafkind.com>
Build-Depends: libsdl-dev, scons (>= 1.1.0), dh-make, g++, libpng12-dev, libfreetype6-dev, make, zlib1g-dev
Homepage: http://paintown.sf.net

Package: paintown
Architecture: any
Depends: ${shlibs:Depends}
Description: Paintown is a 2-d fighting game similar to Streets of Rage
 and Teenage Mutant Ninja Turtles. Paintown comes with level and animation editors
 to help with the creation of new content. Paintown also implements the
 MUGEN engine. You must download the data files separately. Use this subversion
 URL to get the data
 https://paintown.svn.sourceforge.net/svnroot/paintown/data
